/*
    -css này dành cho phần register và login
    -sử dụng css style.css
    -bắt đầu bằng lg- đại diện cho từ login
*/


.lg-container {
    position: relative;
    box-shadow: 1px 1px 5px #cccccc;
    margin: 50px 7% 50px 7%;
    background-color: white;
    animation: efGo 1s backwards;
}

@keyframes efGo {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* chia lay out*/
.lg-container::after {
    content: ' ';
    clear: both;
    display: block;
}

.lg-col-left, .lg-col-right {
    position: relative;
    padding: 30px;
    float: left;
    width: 50%;
    
}


.lg-header {
    font-family: "fBlodBungee";
    font-size: 25px;

}

.w55pt {
    width: 55%;
}

.w45pt {
    width: 45%;
}

/*định dạng cho danh sách*/
.lg-ul {
    list-style-type: none;
    padding: 0;
}
.lg-ul > li {
    margin: 0;
    padding: 7px 7px 7px 0;
}

.lg-ul>li::before {
    font-family: 'fIcon';
    content: '\e97d';
    color: green;
    padding-right: 10px;
}

/*định dạng cho các button*/
.lg-bt {
    margin-top: 20px;
    font-family: "fBlodBungee";
    width: 70%;
    height: 50px;
    border: none;
}

.lg-bt::after {
    font-family: 'fIcon';
    content: '\e91d';
    font-size: 20px;
    padding: 0 10px 0 10px;
    position: absolute;
    transform: translateY(30%);
    transition: 0.5s all;
}
.lg-bt:hover::after {
    transform: translate(15px, 30%);
}


.lg-bt-reg {
    background-color: black;
    color:white;
}
.lg-bt-log {
    background-color: rgba(2,134,205,1);
    color: white;
}
.lg-bt-google {
    background-color: #e74847;
    color: white;
}
.lg-bt-facebook {
    background-color: #4267b2;
    color: white;
}
.lg-bt-twitter {
    background-color: rgb(27, 149, 224);
    color: white;
}
.lg-bt-yahoo {
    background-color: #2d1451;
    color: white;
}

/*định dạng cho ô input*/
.lg-input > input {
    font-family: "fAdihaus";
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #cccccc;
}
.lg-input {
    position:  relative;
    margin-top: 25px;
    width: 70%;
    /*height: 50px;*/
}
.lg-input > div {
    position: absolute;
    display: block;
    transform: translateY(-2px);
    height: 2px;
    width: 0;
    background-color: rgba(2,134,205,1);
    transition: 0.5s all;
}
.lg-input>input:focus~div {
    width: 100%;
}
.lg-input > input:focus {
    outline: none;
}


.lg-check {
    margin-top: 25px;
    width: 25px;
    height: 25px;
    position: relative;
    transform: translateY(25%);
}

.mar25 {
    margin-top: 25px;
}

/*alert*/
.lg-alert {
    margin: 20px 7% 0 7%;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    /*display: none;*/
    font-weight: 500;
    animation: efAl 1s backwards;
}

@keyframes efAl {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.lg-alert>span {
    position: absolute;
    transform: translateY(50%);
    text-align: justify;
    line-height: 25px;
}

.error {
    position: relative;
    color: #ec5757;
    box-shadow: 1px 1px 2px #cccccc,
                inset 0 0 100px #ffebeb;
}

.error::before {
    font-family: 'fIcon';
    content: '\e97e';
    color: #fa8383;
    padding-right: 20px;
    font-size: 40px;
}

.ok {
    position: relative;
    color: #3c832a;
    box-shadow: 1px 1px 2px #cccccc,
                inset 0 0 100px #c4ffb5;
}
.ok::before {
    font-family: 'fIcon';
    content: '\e9bf';
    color: #3c832a;
    padding-right: 20px;
    font-size: 40px;
}


/* mang hinh < 600px*/
@media screen and (max-width: 819px){
    .lg-alert {
        margin: 10px;
        padding: 10px;
    }
    .lg-alert>span {
        position: relative;
        font-size: 16px;
    }
    .lg-container {
        margin: 10px;
    }
    .lg-col-left, .lg-col-right {
        padding: 20px;
        width: 100%;
    }
    .lg-bt, .lg-input {
        width: 90%;
    }
    .lg-col-right {
        margin-top: 50px;
    }
}

/*mang hinh <900px and >600px*/
@media screen and (max-width: 1000px) and (min-width: 820px){
    .lg-alert {
        margin: 30px;
        padding: 15px;
    }
    .lg-container {
        margin: 30px;
    }
    .lg-col-left, .lg-col-right {
        padding: 20px;
    }
}


