@font-face {
  font-family: "fOpensans";
  src: url("../font/opensans-regular-webfont.woff");
}
@font-face {
  font-family: "fAndikaNewBasic";
  src: url("../font/AndikaNewBasic.ttf");
}
@font-face {
  font-family: "fIcon";
  src: url("../font/icomoon.ttf");
}
@font-face {
  font-family: "fAdihaus";
  src: url("../font/FontDep.com-geoslabl.ttf");
}
@font-face {
  font-family: "fBlodBungee";
  src: url("../font/Bungee-Regular.otf");
}


@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../font/glyphicons-halflings-regular.eot');
  src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



body {
    font-family: "fAdihaus";
    margin: 0;
    background-image: url(../img/background.png);
    width: 100%;
    overflow-x: hidden;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pd-top-80 {
  padding-top: 80px;
}

a:hover {
    color:rgb(70, 150, 255);
}

a {
    text-decoration:none;
    color: rgb(112, 113, 113) ;
    text-align:left;
    color: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

/*effect khi scroll*/
.hidden-scroll {
  opacity: 0;
}

@keyframes animScroll1 {
    from { opacity: 0; transform: scale(.7,.7) }
    to { opacity: 1; }
}

.efScroll1 {
  animation: animScroll1 1s;
}

@keyframes animScroll2 {
    from { opacity: 0; transform: translateX(-100%) }
    to { opacity: 1; }
}

.efScroll2 {
  animation: animScroll2 1s;
}

@keyframes animScroll3 {
    from { opacity: 0; transform: translateX(100%) }
    to { opacity: 1; }
}

.efScroll3 {
  animation: animScroll3 1s;
}

@keyframes animScroll4 {
    from { opacity: 0; transform: translateY(100%) }
    to { opacity: 1; }
}

.efScroll4 {
  animation: animScroll4 1s;
}


