.bg-header {
	font-family: "fBlodBungee";
	margin-left: 2.5%;
	font-size: 20px;
	background-color: orangered;
	color: white;
	padding: 0 10px;
}
.mr0 {
	margin-left: 0;
}
.bg-count {
	font-family: "fAdihaus";
	font-size: 14px;
	padding-left: 10px;
}

.bg-ctainer {
	padding: 2.5%;
	padding-top: 0;
	width: 100%;
}

.bg-ctainer::after {
	clear: both;
	display: block;
	content: '';
}

.bg-cproduct {
	float: left;
	width: 75%;
	height: 500px;
	overflow: auto;
	padding-right: 15px;
}


.bg-cdeltail {
	float: left;
	width: 25%;
	padding-left: 15px;
	height: 500px;
}

.bg-dl-child {
	background-color: white;
	border-bottom: 0.1px solid #dddddd;
	padding: 10px;
}

.bg-dl-child::after {
	content: '';
	display: block;
	clear: both;
}

.bg-dl-child > span:nth-child(1){
	font-size: 16px;
}

.bg-dl-child > span:nth-child(2){
	font-size: 20px;
	float: right;
}

.buy {
	float: right;
	border: none;
	padding: 10px;
	background-color: #fa4141;
	width: 50%;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}
.buy:hover, .cou > input[type="submit"]:hover, .del:hover {
	background-color: #dd5353;
}

.cou {
	margin: 10px 0;
}

.cou > input[type="text"] {
	border: 0.5px solid #cccccc;
	width: 100%;
	padding: 10px;
	font-family: "fAdihaus";
	margin-bottom: 5px; 
}

.cou > input[type="submit"] {
	border: none;
	padding: 10px;
	margin-bottom: 5px; 
	font-family: "fAdihaus";
	background-color: #fa4141;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	float: right;
	width: 50%;
}


/*san pham*/
.bg-product {
	background-color: white;
	padding: 15px;
	height: 120px;
	width: 100%;
	border-top: 0.5px dotted #dddddd;
	overflow: hidden;
	transition: 0.5s all;
}
.bg-product::after {
	display: block;
	content: '';
	clear: both;
}

.bg-product > .bg-img {
	width: 100px;
	height: 100px;
	background-color: orangered;
	float: left;
}
.bg-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.bg-product > .bg-del {
	float: left;
	padding-left: 30px;
}

.bg-product > .bg-coi {
	float: right;
	padding-right: 30px;
}

.bg-real, .bg-sale, .bg-ptsale {
	height: 33.3px;
	line-height: 33.3px;
	text-align: right;
}

.bg-real {
	font-size: 20px;
	font-weight: bold;
}
.bg-sale {
	font-size: 12px;
	text-decoration: line-through;
}
.bg-ptsale > span {
	background-color: #d1b572;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.bg-title {
	font-weight: bold;
	font-size: 22px;
	height: 33.3px;
	line-height: 33.3px;
}

.bg-support {
	height: 33.3px;
	line-height: 33.3px;
}

.bg-button {
	height: 33.3px;
	line-height: 33.3px;
	text-align: left;  
}

.del {
	border: none;
	padding: 3px;
	background-color: #fa4141;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}