
.banner {
    margin-top: 10px;
}
.banner> img{
    width:100%;
    height: 50%;
}
.sshop-care{
    font-family: 'fBlodBungee';
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(107, 107, 107);
    padding: 10px;
}
.sshop-care i {
    width: 3px;
    margin:0px 15px 0px 15px;
    background:  rgb(107, 107, 107);
    height: 30px;
    display: inline-block;
}
.line{
    margin-top: 10px;
    width:100%;
    height:1px;
    background-color: rgb(107, 107, 107);
    display:block;
}

.terms{
    margin: 3%;
}
.terms ul{
    list-style-type:none;
    line-height: 30px;
}
