.bg-header {
    margin: 2.5%;
	font-size: 20px;
	padding: 0 10px;
}

.sp-container {
    margin: 10px 2.5%;
    width: 95%;
}

.sp-container::after {
    content: '';
    display: block;
    clear: both;
}

.sp-path {
    margin-top: 30px;
    font-size: 15px;
}
.sp-path>span::before {
    content: '/';
    margin: 0 5px;    
}
.sp-path>span:nth-child(1)::before {
    content: '';
}

.sp-bor {
    margin-top: 30px;
}
.sp-bor::after {
    display: block;
    content: '';
    clear: both;
}

.sp-img {
    float: left;
    width: 30%;
    padding-right: 15px;
}

.sp-deltail {
    float: left;
    width: 70%;
    padding-left: 15px;
}

.sp-c-img {
    background-color: white;
    width: 100%;
    padding: 5px;
    box-shadow: 1px 1px 3px #cccccc;
}
.sp-c-img > img {
    width: 100%;
    object-fit: cover;
}

.sp-c-deltail {
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 3px #cccccc;
}

.sp-c-title {
    border-bottom: 0.1px solid orangered;
}

.sp-c-title>div {
    float: left;
}
.sp-c-title::after {
    display: block;
    content: '';
    clear: both;
}
.sp-c-title>div:nth-child(1){
    position: relative;
    width: 51px;
    height: 51px;
    color: white;
    background-color: orangered;
}
.sp-c-title>div:nth-child(1)::after{
    font-family: 'fIcon';
    content: '\ea1f';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sp-c-title>div:nth-child(2){
    color: #444444;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
}

.sp-c-coin {
    margin-top: 20px;
}
.sp-c-coin::after {
    display: block;
    clear: both;
    content: '';
}
.sp-c-coin>div {
    float: left;
    padding: 15px;
}
.sp-c-coin>div:nth-child(1){
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}
.sp-c-coin>div:nth-child(2){
    text-decoration: line-through;
}
.sp-c-coin>div:nth-child(3){
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 10px;
}

.sp-c-bl {
    margin: 10px;
    padding: 5px;
    border-bottom: 0.5px solid #dddccc;
}

.sp-c-vc {
    margin: 10px;
    margin-top: 25px;
    border-bottom: 0.5px solid #dddccc;
    color: #666666;
}
.icon-vc, .icon-ht {
    padding: 5px;
}
.icon-vc::before {
    font-family: 'fIcon';
    content: '\e958';
    margin-right: 5px;
}
.icon-ht::before {
    font-family: 'fIcon';
    content: '\e9c4';
    margin-right: 5px;
}

.sp-c-phanloai {
    margin: 10px;
    padding: 5px;
    margin-top: 25px;
    border-bottom: 0.5px solid #dddccc;
    color: #666666;
}
.sp-c-phanloai button:not([class]),  .sp-c-phanloai button[class="select"] {
    margin-left: 10px;
    border: 1px solid #cccccc;
    padding: 5px 10px 5px 10px;
    color: #555555;
    height: 30px;
    background-color: rgba(0,0,0,0);
    transition: 0.5s all;
    font-weight: bold;
}

.sp-c-phanloai button:not([class]):hover, .sp-c-phanloai>button[class="select"]:hover {
    background-color: orangered;
    border-color: orangered;
    color: white;
}
button:focus {
    outline: none;
}


.sp-c-phanloai>button[class]:hover {
    background-color: #cccccc;
}
.sp-c-phanloai button.select {
    border-color: orangered;
    color: orangered;
}


.sp-c-sl {
    margin: 0;
    padding: 0;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #555555;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0);
}


.sp-c-add {
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
}
.bt-add-card {
    padding: 10px;
    border: 1px solid orangered;
    color: orangered;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    transition: 0.5s all;
}
.bt-add-card:hover {
    background-color: orangered;
    color: white;
}
.bt-add-card:active {
    background-color: goldenrod;
    color: white;
}



/*
    - phần chưa star
    - yes: có màu
*/
.sp-deltail .pd-star-container {
    margin: 10px;
    opacity: 1;
    text-align: left;
}
.pd-star-container::after {
    display: block;
    clear: both;
    content: '';
}

/*định dạng chung cho 2loaij */
.pd-star-container>span:not([class])::after, .pd-star-container>span.no-st::after, .pd-star-container>span.yes-st {
    font-family: "fIcon";
    font-size: 25px;
    padding: 5px;
    transition: 0.2s all;
}

/*hiệu ứng xuất hiện đầu tiên*/
.pd-container:hover .pd-star-container, .hv-star {
    animation: 0.3s 0.6s efXuat forwards;
}

/*sao có màu và ko màu, yes là có*/
.pd-star-container>span:not([class])::after, .pd-star-container>span.no-st::after   {
    content: "\ea1c";
    color: #cccccc;
}

.pd-star-container>span.yes-st::after {
    content: "\ea1c";
    color: gold;
}

/*khi hover vào * lần lượt sao 1 -> 5*/
.pd-star-container:hover>span::after {
    content: "\ea1c";
    color: gold;
}

.pd-star-container>span:hover ~ span::after
{
    content: "\ea1c";
    color: #cccccc;
}


.sp-error {
    margin: 2.5%;
    background-color: #dd3d3d;
    color: white;
    padding: 10px;
}

.sp-error > .title {
    font-family: "fBlodBungee";
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid #cccccc;
}
.sp-error > .help {
    text-align: center;
    padding: 50px 30px 30px 30px;
}

.sp-alert {
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.sp-alert > .container {
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #888888,
                -1px -1px 1px #cccccc;
    padding: 30px;
    text-align: center;
}

.sp-alert span {
    display: block;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
}

.sp-alert button {
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    margin-top: 20px;
    transition: 0.5s all;
}

.sp-alert button:hover {
    background-color: black;
    color: white;
}

